/* Jetson IMU TUI styles */

Screen {
    background: $background;
}

#readouts {
    height: 1fr;
    margin: 0 0 1 0;
}

#readouts IMUReadout {
    width: 1fr;
    margin: 0 1 0 0;
}

#console-wrap {
    height: 10;
}
